name: Build and Push calendarchanger package

on:
    workflow_dispatch:
    push:
        branches:
            - main
permissions:
    contents: read
    packages: write

jobs:
    docker-build:
        uses: wtb04/Workflow-Templates/.github/workflows/docker-build-and-push-github.yml@main
        with:
            image-name: calendarchanger
            dockerfile: ./Dockerfile
            context: .
